@use "sass:map";

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

$utilities: (
  "margin-top": (
    property: margin-top,
    class: mt,
    styles: (
      1: 10px,
      2: 20px,
      3: 30px,
      4: 40px
    )
  ),
  "float": (
    property: float,
    class: float,
    styles: (
      start: left,
      end: right,
      none: none,
    )
  ),
  "container": (
    inline: false,
    class: container,
    styles: (
      margin: auto,
      max-width: $container-max-widths
    )
  ),
);



@function is-zero-breakpoint($name) {
  $value: map-get($breakpoints, $name);
  @if ($value != 0) {
    @return false;
  } @else {
    @return true;
  }
}

@mixin breakpoint-up($name) {
  @if is-zero-breakpoint($name) {
    @content;
  } @else {
    @media (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  }
}

@each $utilities-key, $utilities-value in $utilities {
  @debug $utilities-key, $utilities-value;
  $property: map.get($utilities-value, 'property');
  $class: map.get($utilities-value, 'class');
  $inline: map.get($utilities-value, 'inline');
  $styles: map.get($utilities-value, 'styles');
  // @debug $property, $class, $inline, $styles;
  @if ($inline == false) {
    .#{$class} {
      @each $breakpoint-key, $breakpoint-value in $breakpoints {
        @include breakpoint-up($breakpoint-key) {
          @each $style-key, $style-value in $styles {
            @if (type-of($style-value) == 'map') {
              #{$style-key}: map.get($style-value, $breakpoint-key)
            } @else {
              #{$style-key}: $style-value;
            }
          }
        }
      }
    }
  } @else {
    @each $style-key, $style-value in $styles {
      @each $breakpoint-key, $breakpoint-value in $breakpoints {
        @if (is-zero-breakpoint($breakpoint-key)) {
          @include breakpoint-up($breakpoint-key) {
            .#{$class}-#{$style-key} {
                #{$property}: $style-value;
            }
          }
        } @else {
          @include breakpoint-up($breakpoint-key) {
            .#{$breakpoint-key}\:#{$class}-#{$style-key} {
                #{$property}: $style-value;
            }
          }
        }
      }
    }
  }
}

body {
  background-color: indianred;
  @include breakpoint-up(md) {
    background-color: indigo;
  }
}

h1 {
  color: green;
}
